{% extends "main/base_templates/base.html" %}
{% load static %}
{% block page_content %}
    <section id="detailsPage">
    <div class="wrapper">

        <div class="articleImage">
            {% if article.image %}
                <img class="img-responsive" src="{{ article.image }}"  style="width: 55vw; min-width: 330px;">
            {% else %}
                <img class="img-responsive" src="{% static "images/economist_logo.png" %}">
            {% endif %}
        </div>

        <div class="text-justify">

            <div class="articleText" style="font-size:5vw;">
                <h1 class="modal-title">Title: {{ article.title }}</h1>
                <h4>Date published: {{ article.date_published }}</h4>
                <div class="btn-group-justified">
                        <div class="container-fluid">
                                <a class="btn-link" href="http://localhost:8000/article/full/{{ article.pk }}">
                                    <h3>View full text</h3>
                                </a>
                                <a class="btn-link" href="{{ article.url }}">
                                    <h3>View original</h3>
                                </a>
                        </div>
                </div>

                <h3> Source: <strong>{{article.news_site}}</strong></h3>
                <h4 class="text-body"><strong>AI-generated summary:</strong> {{article.get_summary}}</h4>
            </div>

            <div class="container-fluid" style="font-size:3vw;">
                <a href="{% url "index" %}"><h3>Back</h3></a>
                <h4>Likes: {{ article.get_likes_dislikes_sum }}</h4>
                <div class="row-cols-md-4">

                    <div class="col-md-4">
                        <a href="http://localhost:8000/article/like/{{ object.pk }}">
                            <h3>Like</h3>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://localhost:8000/article/dislike/{{ object.pk }}">
                            <h3>Dislike</h3>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://localhost:8000/article/save/{{ object.pk }}">
                            <h3>Save article</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="fa-comment">
                <p class="media-heading">Comments</p>
                <a href="http://localhost:8000/article/comment/{{ article.pk }}">Leave a comment</a>
                {% for comment in article.comment_set.all %}
                     <div class="comments" style="padding: 10px;">

                        <p class="font-weight-bold">
                            {{ comment.user.get_full_name }}
                             <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span>
                        </p>
                        <span class="h3">{{ comment.text}}</span>
                        <div class="container-fluid">
                            <h4>Likes: {{ comment.get_likes_dislikes_sum }}</h4>
                            {% if comment.user_id == request.user.pk %}
                                <div>
                                <a href="http://localhost:8000/comment/edit/{{ comment.pk }}"> Edit comment</a>
                                <a href="http://localhost:8000/comment/delete/{{ comment.pk }}"> Delete comment</a>
                            </div>
                            {% endif %}
                            <div>
                                <a href="http://localhost:8000/comment/like/{{ comment.pk }}">Like</a>
                                <a href="http://localhost:8000/comment/dislike/{{ comment.pk }}">Dislike</a>
                            </div>
                        </div>
                     </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}