{% extends "main/base_templates/base.html" %}
{% load static %}
{% block page_content %}
    <section id="detailsPage">
    <div class="wrapper">


        <div class="container-fluid">
            <div class="text-black">

            <div class="profileText">
                <h1>Email: {{ profile.email }}</h1>
                {% if profile.first_name %}
                    <h4>First name: {{ profile.first_name }}</h4>
                {% endif %}
                {% if profile.last_name %}
                    <h4>Last name: {{ profile.last_name }}</h4>
                {% endif %}
                {% if profile.date_of_birth %}
                    <h4>Date of birth: {{profile.date_of_birth}}</h4>
                {% endif %}
            </div>

            <div class="container">
                {% if profile.image %}
                 <img class="img-thumbnail" src="{{ profile.image }}" >
                {% else %}
                  <img class="img-thumbnail" src="{% static "images/default_user.png" %}">
                {% endif %}
            </div>

          <div class="btn-group-justified">
            <div class="container-fluid" style="font-size:3vw;">

                <div class="row-cols-md-4">
                     <div class="col-md-4">
                         <a href="{% url "index" %}">
                             <h3>Back</h3>
                         </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://localhost:8000/profile/edit/{{ profile.pk }}">
                            <h3>Edit Profile</h3>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://localhost:8000/profile/delete/{{ profile.pk }}">
                            <h3>Delete profile</h3>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url "saved articles" %}">
                            <h3>Saved articles</h3>
                        </a>
                    </div>

                </div>
            </div>
          </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}