<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsApp</title>
    <!-- Static Load -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "/css/home.css" %}">
</head>

<body>
<div id="box">

    <!-- Navigation Bar -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="navbar-header" >
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'index' %}"><span class="h3">Home</span></a>
                <a class="nav-item nav-link" href="{% url 'profile' %}"><span class="h3">Profile</span></a>
                <a class="nav-item nav-link" href="{% url 'logout' %}"><span class="h3">Logout</span></a>
                {% if request.user.is_superuser %}
                    <a class="nav-item nav-link" href="{% url 'scrape' %}"><span class="h3">Start scraper</span></a>
                {% endif %}
            </div>
        </div>
      </nav>

    </header>


    <!-- End Navigation Bar -->


    <!-- Main Content -->
    {% block page_content %}

    {% endblock %}

</div>
</body>
</html>

